<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>MetaCupcake/chessythebus</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="chessy">Chessy The Bus Sessions</a>
          <a class="blog-nav-item" href="/">metacupcake</a>
          <a class="blog-nav-item" href="https://www.youtube.com/playlist?list=PLa3y20ceH3J4gYImNRTxVDMBlfvf9ANBR&feature=mh_lolz">50 Shades of Mike</a>
          <a class="blog-nav-item" href="hacks">Hickies and Hacks</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Chessy The Bus Sessions</h1>
        <p class="lead blog-description">"Independent artists showing off their skills in a 1971 Volkswagon Bus"</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Episode 1, Andrea Lopez (Feat. Cameron Mehrabian)</h2>
            <p class="blog-post-meta">May 13, 2014 by <a href="#">Michael Betts, </a> <a href="#">Jake Tully</a></p>

            <p><iframe width="420" height="345"
            src="http://www.youtube.com/embed/XGSy3_Czz8k">
            </iframe></p>
            <hr>
            <p>Andrea Lopez, a freshman at the University of California, Santa Cruz, has been writing and singing her own songs since she was 13 years old. She mostly writes her songs in her dorm room, drawing influence from the beautiful views and fun interactions she has with her friends. 
            </p>
            <p>
              Lopez’ own style of sing-songwriting is very controlled - it’s a sort of performance that paints Lopez as wise beyond her own years. Her penchant for lyricism is vividly apparent from a first listen alone, as she takes her writing incredibly seriously.
            </p>
            <blockquote>
              <p>
                “I’ve been writing journals since elementary school. What convinced me was Anne Frank. I’m on journal number nine now.”
              </p>
            </blockquote>
            <p>The entirety of Lopez’ musical output is original work, with influences drawing from Death Cab for Cutie and Best Coast. One of Lopez’ favorite things to do is to listen to entire albums on long drives and fully digest the music.
            </p>
            <p><blockquote>“People think I sound like Regina Spektor,” said Lopez. “I’m very different lyrically.”

            </blockquote></p>
            <img src="/images/andrea.JPG" height="90%" width="90%">
            <p><br></p>
            <p>
            Lopez said she loves sharing music. She loves listening to math and experimental rock, despite both of those genres being wildly unlike her own music.

            Lopez’ own style of sing-songwriting is very controlled - it’s a sort of performance that paints Lopez as wise beyond her own years. Her penchant for lyricism is vividly apparent from a first listen alone, as she takes her writing incredibly seriously.
            <br>
            <p>
            When asked what three items Lopez would bring into a room if locked in it for 24 hours, Lopez replied, “A journal with a pen, a guitar and candy.”

            What truly is outstanding about Lopez’ character is her ability to impart a fun time and dismiss the the solemn nature that often goes hand in glove with many singer-songwriters. 

            <p>Andrea is a QT! When asked about any pet peeves she had, Andrea replied:</p> <blockquote>
            “I have an opposite of a pet peeve, I love the sound of people eating pickles,” said Lopez. “I also love the sound of people eating apples.”
            </blockquote>
            </p>
            <p>
              Be on the lookout for this rising treasure, as Andrea Lopez continues to write songs about her life experiences, eating candy the whole way.
            </p>

            <h1>Lyrics of the songs</h1>          
            <pre><code>Transition
                Take me on your way back, don’t forget about me.
                I’ve been thinking this isn’t the best thing to do, 
                to leave me without you.
                But I guess if you’re leaving I’ll make believe 
                I’m thrilled to be here on my own,
                Because I’m capable of making it out on my own.

                But that’s never how it works.
                Among strange faces I can’t find my own.
                And a upon a mirror I stress my fears;
                The brown eyes that stare back are not mine,
                The brown eyes that stare back don’t look like mine.

                While looking back I fail to see 
                the optimism and clarity of starting once again.
                My mind goes on to wandering, entangling, 
                and challenging foreign reality.
                Remembering what home felt like,
                I was one with a brighter mind
                So now I pick myself up,
                Because I’m better than before.

                And that’s the way it should go
                But I think too much or too little about what I know
                A change in mind, a change in thought, a shift in paradigm
                And I will find me soon
                I will find me soon
                I will, I will find me soon
                I will, I will. 
              </code></pre>
              <br>
            <pre><code>Arcata
              What do I do when you’re so far away?
              Mountain ranges and weather change that makes us separate 
              Our world into two, a world of different views,
              A world where I’m me and a world where you’re you

              I don’t know when I’ll see you next. 
              Beyond these plains shadows arrange 
              the silhouettes of forgotten days.
              I’m afraid of darkened skies,
              The roadside trees that cover light,
              The miles that brutalize me by night
              And I wonder where you go, where did you go?

              What do I do when things are unfair?
              Lay on the grasses as time passes wishing you were there
              To make me believe to make me care
              About what there is to life, when nobody is there.

              I don’t know when I’ll see you next
              But I’d cross brown rivers in pouring rain
              Just in order to see you again
              But I’m uncertain of what comes next,
              the fog covers my next steps
              My next steps.
              So where do I go? Where do I go?
            </code></pre>
            <br>
            <pre><code>Foggy Windows  
            Foggy windows, from inside I can’t look outside.
            Curled up on my bed, long blanket over my head
            I hope the cold doesn’t get to me I’m already…

            Feeling weak, my bones are breaking. 
            I’m falling apart, I’m falling apart.
            Can’t tell change of seasons from heart break
            I’m falling apart, I’m falling apart.

            When the wind comes it comes around, 
            and the gust it comes just to knock me down.
            Frigid thoughts fill my head, I’m not myself,
            I’ve gone insane.
            I hope the cold doesn’t get to me, I already…

            Feel you leaving my hands are freezing
            I’ve got nothing to hold onto, I’ve got nothing to hold onto.
            Can’t tell change of seasons from heart break
            I’m falling apart, I’m falling apart.
          </code></pre>


            <p>Be on the lookout for more Andrea Lopez in the future!</p>
          </div><!-- /.blog-post -->

          
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Chessy is the name of my 1971 VW bus. This is where we post about different sessions that we have in this bus</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">May 2014</a></li>

            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://twitter.com/Michaelflops">Twitter</a></li>
              <li><a href="https://www.facebook.com/michael.william.betts">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
