<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

    <title>Contributors</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="stylesheets/carousel.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
  
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">MetaCupcake</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="contributors">Contributors</a></li>
<!-- 

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
-->

                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      -->
    
      <div class="carousel-inner">
        <div class="item active">
          <!--<img src="images/background1.jpg" alt="First slide">-->
          <img src="images/metacupcakelogo.jpg" alt="cute">
          <div class="container">
            <div class="carousel-caption">
              <h2>Our universe is cute</h2>
              <p></p>
              <p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E5HHYWN992XLC">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

              </p>
            </div>
          </div>
        </div>
              <hr class="featurette-divider">

      <hr class="featurette-divider">
      <h2 class="featurette-heading">Contributors</h2>
      <div class="row featurette">

        <div class="col-md-7">
          <h2 class="featurette-heading">Michael Betts</br> <span class="text-muted">Eyebrows</span></h2>
          <p class="lead">I don't like describing myself, but you can find me on Christian Mingle
            Audio things -- <a href="https://soundcloud.com/metacupcake">;D</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/mike.jpg" height="450" width ="450" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/jack1.jpg" height="350" width="350" alt="I'm paranoid about my pictures on the web">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Jack Rogers<span class="text-muted"> I don't want to be on this team</span></h2>
          <p class="lead">take me off of this website please.
          <a href="http://www.asstree.com/"> asstree.com </a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tyler Smith<span class="text-muted">Hacker in charge</span></h2>
          <p class="lead">I don't like to describe myself so I'm just going to paste my okCupid account: <a href="cute"> 8==D </a>
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/tyler.jpg" height="350" width="350" alt="Generic placeholder image">
        </div>
      </div>

  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/cam.JPG" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Cameron Ra <span class="text-muted">Cinematographer</span></h2>
          <p class="lead">I study Cog Sci, guitar, and women. Throw any ball my way, and I'll catch it in a moments notice. Trust me, trust you, if it looks nice its because of me. In fact, if your reading this your probably pretty damn pretty yourrself. Just don't call me, because my phone is broken. Also when </p>
 
        </div>
      </div>

      <hr class="featurette-divider">

            <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/dibs.JPG" height="500" width="650" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Michael Dibs <span class="text-muted">Animator in Chief</span></h2>
          <p class="lead">Don't get sweets near me if you were planning on them not disappearing. I'm a digital artist and an animator with high hopes and a spirit powered by pure determination and plenty of sugar. I'm a saxophone player by day, runner by night, and functioning workaholic the rest of the time.
          <a href="https://www.linkedin.com/profile/view?id=226850273&authType=NAME_SEARCH&authToken=b5x2&locale=en_US&trk=tyah&trkInfo=tarId%3A1400050568282%2Ctas%3Adibs%2Cidx%3A2-1-2"> Find me</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="col-md-7">
          <h2 class="featurette-heading">Jake Tully</br> <span class="text-muted">Music Journalist</span></h2>
          <p class="lead">"If you want a piece of me, then you have to eat it.
             <a href="http://rubbersoul23.tumblr.com/"> Frankly my dear, I am tumblr</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/Jake.jpg" height="450" width ="400" alt="Generic placeholder image">
        </div>
      </div>

      <div class="col-md-12">
      <h2 class="featurette-heading"> Contact us,  <span class="text-muted"> we are probably not robots</span></h2>
          <p class="lead"> If you like making stuff, if you like learning things, if you like jokes- email us! Whether you have a project idea or want
          to join our team in shenanigans,<a id="contact"> <a href="mailto:mwbetts@ucsc.edu"> omgee hmu </a></a>  </p>
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="/">Back to top</a></p>
          <p>&copy; 2014 Company, Inc. &middot; <a href="terms">Privacy</a> &middot; <a href="terms">Terms</a></p>
        </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
