<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

    <title>metacupcake</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <link href="stylesheets/carousel.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
  
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container-brand">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">MetaCupcake</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="terms">Contributors</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      -->
    
      <div class="carousel-inner">
        <div class="item active">
          <!--<img src="images/background1.jpg" alt="First slide">-->
          <img src="images/metacupcakelogo.jpg" alt="cute">
          <div class="container">
            <div class="carousel-caption">
              <h2>Our universe is cute</h2>
              <p></p>
              <p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E5HHYWN992XLC">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

              </p>
            </div>
          </div>
        </div>
              <hr class="featurette-divider">

        <!--
        <div class="item">
          <img data-src="images/front2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>You are cute</h1>
              <p>Our </p>
              <p><a class="btn btn-lg btn-primary" href="cute.html" role="button">Have a looksy</a></p>
            </div> 
          </div>
        </div>
        <div class="item">
          <img data-src="images/front1.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make cute things</h1>
              <p>You are going to be okay</p>
              <p><a class="btn btn-lg btn-primary" href="cute.html" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
  



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/asd.jpg" height="170" width="270" alt="Generic placeholder image">
          <h2>Fifty Shades of Mike</h2>
          <p>A video series of the many different sides of Michael Betts</p>
          <p><a class="btn btn-primary" href="https://www.youtube.com/playlist?list=PLa3y20ceH3J4gYImNRTxVDMBlfvf9ANBR&feature=mh_lolz" role="button">Watch here &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/bussy.JPG" height="170" width="270" alt="Generic placeholder image">
          <h2>Chessy The Bus</h2>
          <p>Films of independent musicians/artists documented in a 1971 Volkswagon Bus</p>
          <p><a class="btn btn-primary" href="chessy" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/gma.jpg" height="170" width="220" alt="Generic placeholder image">
          <h2>Hacks for Hickies</h2>
          <p>Using 21st Century methods to get with pretty ladies (no guarantees)</p>
          <p><a class="btn btn-primary" href="hacks" role="button">Beam me up Scotty! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <div class="rect"></div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="/">Back to top</a></p>
          <p>&copy; 2014 Company, Inc. &middot; <a href="cute">Privacy</a> &middot; <a href="cute">Terms</a></p>
        </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
