<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

    <title>Contributors</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <link href="stylesheets/carousel.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

        <link rel="stylesheet" href="../assets/css/bootswatch.min.css">


  
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container-brand">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">MetaCupcake</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="index"><a href="/">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#active">Contributors</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->

         <h1 class="featurette-heading">Contributors</h1>
               <hr class="featurette-divider">

              <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/mike.jpg">
                <h3>Michael Betts
                    <small>"Savant"</small>
                </h3>
                <p>
            		  <a href="https://soundcloud.com/metacupcake">Christian Mingle</a>
                </p>
            </div>	

            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/dibs.JPG">
                	<h3>Michael Dibs
                    	<small>Animator</small>
                	</h3>
                	<p> 
          				<a href="https://www.linkedin.com/profile/view?id=226850273&authType=NAME_SEARCH&authToken=b5x2&locale=en_US&trk=tyah&trkInfo=tarId%3A1400050568282%2Ctas%3Adibs%2Cidx%3A2-1-2"> Find me</a>
          			</p>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/cam.JPG">
                <h3>Cameron Mehrabian
                    <small>Cinematographer</small>
                </h3>
                <p>Also known as the orgy guy</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/jack1.jpg">
                <h3>Jack Rogers
                    <small>joker</small>
                </h3>
                <p><a href="http://www.asstree.com">I make things</a></p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/Jake.jpg">
                <h3>Jake Tully
                    <small>Writer</small>
                </h3>
                <p> <a href="http://rubbersoul23.tumblr.com/"> Frankly my dear, I am on tumblr</a> </p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/tyler.jpg">
                <h3>Tyler Smith
                    <small>HackzorzLEET8--D</small>
                </h3>
                <p>Intern at Mozilla and lover of free things</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/chad1.jpg">
                  <h3>Chad Lamon
                      <small>DJ</small>
                  </h3>
                  <p> 
                  <a href="https://soundcloud.com/chronicbass1"> Soundcloud</a>
                </p>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img class="img-circle img-responsive" src="images/peter.jpg">
                  <h3>Peter DP
                      <small>Optimist</small>
                  </h3>
                  <p> 
                </p>
            </div>            

        </div>

      <hr class="featurette-divider">

      <h2 class="featurette-heading"> Contact us,  <span class="text-muted"> we are probably not robots</span></h2>
          <p class="lead"> If you like making stuff, if you like learning things, if you like jokes- email us! Whether you have a project idea or want
          to join our team in shenanigans,<a id="contact"> <a href="mailto:mwbetts@ucsc.edu"> omgee hmu </a></a>  </p>
      </div>
</div><!-- /.container -->
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
        


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
